{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, { marley, "0.1.0" },
         [marley,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
           {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
           {test, [{deps, [{proper, "1.1.1-beta"}]}]}
           ]
}.

{plugins, [
          rebar3_auto,
          rebar3_run,
          {alias, {git, "https://github.com/ferd/rebar3-alias.git"}},
          {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}},
          rebar3_proper,
          rebar3_lint
          ]
}.

 {alias, [
   {testall,  ["do", "ct,", "eunit,", "proper,", "cover"]},
   {validate, ["do", "ct,", "eunit,", "proper,", "lint,", "xref,", "dialyzer"]}
 ]}.