{erl_opts, [debug_info]}.
{deps, []}.

{profiles, [
           {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
           {test, [{deps, [{proper, "1.1.1-beta"}]}]}
           ]
}.

{plugins, [
          rebar3_auto,
          rebar3_run,
          {alias, {git, "https://github.com/ferd/rebar3-alias.git"}},
          {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}},
          rebar3_proper,
          rebar3_lint
          ]
}.

 {alias, [
   {testall,  ["do", "ct,", "eunit,", "proper,", "cover"]},
   {validate, ["do", "ct,", "eunit,", "proper,", "lint,", "xref,", "dialyzer"]},
   {ci, ["do", "ct,", "eunit,", "proper,", "lint,", "dialyzer"]}
 ]}.